h1 {
    color: #510e54; /* Couleur du texte */
    text-align: center; /* Le texte est centré */
    font-size: x-large; /* Le texte est grossi en XL */
}

#texte {
    display: flex; 
    flex-direction: column;
    text-align: left;
    font-size: large;
}

#texte p{
    margin: 2px;
    text-align: justify;
}
