h1 {
    display:flex;
    justify-content: center;
    font-size: x-large;
    margin-top: 20px;
    margin-bottom: 20px;
}

#texte {
    display:flex;
    flex-direction: column;
    flex-flow: nowrap;
    justify-content: center;
}
#texte :first-child{
    display:flex;
    float: left;
    width: 30%;
    order:-2;
    font-size: large;
    margin-right: 70px;
}

#texte :nth-child(2) {
    display: flex;
    float: right;
    font-size: large;
    width: 30%;
    align-self: flex-start;
}

#corps {
    display: none;
    margin-top: 20px;
    
}

#corps legend {
    font-weight: bold;
}
#mail {
    display:flex;
    justify-content: center;
    height: 50px;
    width: 50px;
    margin-right: 10px;
    order:-1;
}

#envoi {
    padding: 10px;
}
#mail, #envoi:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
