* {
       font-family: 'Calibri Light'; /*Police par défaut*/
       margin: 0;
       padding: 0;
       text-decoration: none;
}

/* Définition de la police "Calibri Light" */
@font-face{ 
    font-family: "Calibri Light";
    src: url('polices/calibril.ttf') format("truetype");
}

nav input {
    display: none;
}

nav ul {
    display: flex; /* Ce conteneur est "flexible" */
    flex-direction: row; /* Les éléments sont mis côte à côte */
    justify-content: space-between; /* Les éléments sont répartis équitablement */
    background-color: black; /* Couleur du fond */
}

nav ul li {
    display: flex; /* Ce conteneur est "flexible" */
    justify-content: center; /* Les éléments portés sont centrés à l'horizontal */
    list-style-type: none; /* Cette liste n'a pas de puce */
    font-size: x-large; /* Le texte est grossi en XL */
    flex-grow: 1; /* L'espace occupé est élargi */
}

nav ul li a {
    padding: 10px; /* Marge intérieure */
    color: white; /* Couleur du texte */
}

nav ul li:hover {
    background-color:#00a9bd; /* Couleur du fond au passage de la souris */
}

h1 {
    color: #ff6811; /* Couleur du texte */
    text-align: center; /* Le texte est centré */
    font-size: xx-large; /* Le texte est grossi en XXL */
}

#thematique h1 {
    width: 100%; /* Le titre occupe toute la largeur */ 
    margin-bottom: 10px; /* Marge basse */
}

#menu input {
    display:flex;
    flex-direction: row;
}

h2 {
    display:flex;
    color: #00559b;
    flex-direction: row;
    text-align: left;
    font-size: x-large;
}

#controles {
    display:flex;
}