* {
       font-family: 'Calibri Light'; /*Police par défaut*/
}

/* Définition de la police "Montserrat" */
@font-face{ 
    font-family: "Calibri Light";
    src: url('polices/calibril.ttf') format("truetype");
}
